extends layout 
 
block content 
  h1= title 
 
  form(id='desiRestaruantForm', action="/resource/desiRestaruant", method="POST") 
    div.form-group 
        label.desiRestaruantAttr(for='desiRestaruantRating') desiRestaruant Rating
        input#desiRestaruant(type='number', name='desiRestaruantRating') 
    div.form-group 
        label.desiRestaruantAttr(for='desiRestaruantCost') desiRestaruant cost
        input#size(type='number', name='desiRestaruantCost') 
    div.form-group 
        label.desiRestaruantAttr(for='desiRestaruantLocation') desiRestaruant location
        input#cost(type='text', name='desiRestaruantLocation') 
    input(type="submit") 
 
  script. 
    document.forms['desiRestaruantForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 